<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/style.css" media="all" type="text/css"/>
    <title>Le petit musée</title>
  </head>
  <body class="body">

    <header class="header">
      <h1>Le petit musée</h1>
    </header>

    <main id="main">

      <nav class="menu">
        <ul id="list_menu">
          <li><a href="/">Accueil</a></li>
			    <li><a href="itineraire">Itinéraire</a></li>
          <li><a href="plan">Plan</a></li>
				</ul>
      </nav>

      <section class="flex-container">

        <div id="container-liste-oeuvre">
          <h5>Votre selection:</h5>
          <ul class="liste">
            {% for oeuvre in liste_oeuvres %}
              <li>{{oeuvre}}</li>
            {% endfor %}
          </ul>
        </div>

        <div id="result">
          <ul class="liste">
            {% for res in resultat %}
              {% if res in liste_salles %}
                  <li class="salle_interessante">{{res}}</li>
              {% else %}
                <li>{{res}}</li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>

      </section>
     </main>
  </body>
</html>
