<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/style.css" media="all" type="text/css"/>
        <title>Le petit musée</title>
    </head>
    <body class="body">

        <header class="header">
            <h1>Le petit musée</h1>
        </header>

        <main id="main">

            <nav class="menu">
                <ul id="list_menu">
                    <li><a href="/">Accueil</a></li>
    			    <li><a href="itineraire">Itinéraire</a></li>
                    <li><a href="plan">Plan</a></li>
		    	</ul>
            </nav>

            <section class="flex-container">
                <div id="container-liste-oeuvre" class="flex-result">
                    <h5>Votre selection:</h5>
                    <ul class="liste">
                        {% for i in range(coloree_oeuvres| length) %}
                            <li style="color: {{coloree_oeuvres[i][1]}};">{{coloree_oeuvres[i][0]}}</li>
                        {% endfor %}
                    </ul>
                </div>

                <div id="result" class="flex-result">
                    <ul class="liste">
                        {% for i in range(coloree_salles| length) %}
                            {% if coloree_salles[i][0] in liste_salles %}
                                <li class="salle_interessante" style="color: {{coloree_salles[i][1]}};">{{coloree_salles[i][0]}}</li>
                            {% else %}
                                <li>{{coloree_salles[i][0]}}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>

                <div class="flex-result">
                    <img class="miniature" src="{{url_for('static', filename='etage-1.png')}}"/>
                    <img class="miniature" src="{{url_for('static', filename='etage0.png')}}"/>
                    <img class="miniature" src="{{url_for('static', filename='etage1.png')}}"/>
                </div>

            </section>
        </main>
    </body>
</html>
