#header {
  text-align: center;
}

#body {
  margin-left: 3%;
  margin-right: 3%;
}

#menu {
  background-color: #000;
  display: flex;
}

#menu ul {
  display: flex;
}

#menu ul li {
  padding-right: 40px;
  padding-left: 10px;
  list-style-type: none;
  border-left: 1px solid #434343;
}

a:hover {
  text-decoration: none;
}

a:visited, a:link {
  color: #fff;
}

#container {
  border: 1px solid black;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
}

#flex-container-border {
  border: 1px solid black;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 5px;
  display: flex;
}

#flex-container {
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 5px;
  display: flex;
}

.oeuvres-container {
    display: flex;
    flex-wrap: wrap;
}

.item {
  border: 1px solid black;
  text-align: center;
  margin-top: 1%;
  border-top: white;
  border-bottom: white;
  width: 33%;
  display: flex;
}

.item-picture, .item-without-picture {
  width: 33%;
}

.item-without-picture {
  margin-left: 7%;
}

.selection, .photo {
  margin-top: 3%;
}

cite {
  text-decoration: underline;
}

.categorie{
  text-decoration: underline;
}

#valider {
  width: 100%;
  margin-top: 2%;
}

#content-picture {
  margin-top: 1%;
  margin-bottom: 1%;
}

.picture {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

h2 {
  text-align: center;
}
