<!doctype html>
<html lang="fr">
    <head>
		    <meta charset="utf-8">
        <link rel="stylesheet" href="static/style.css" media="all" type="text/css"/>
		    <title>Mon petit musée</title>
	  </head>
    <body id="body">

		    <header id="header">
		        <h1>Mon petit musée</h1>
        </header>

		    <main id="main">

			    <nav id="menu">
			        <ul id="list_menu">
                  <li><a href="/">Accueil</a></li>
					        <li><a href="itineraire">Itinéraire</a></li>
                  <li><a href="plan">Plan</a></li>
				      </ul>
			    </nav>

			    <section id="container">
              <section>
                  <h2> Bonjour et bienvenue sur le site du petit musée </h2>

                  <p>  Le musée vous propose de vous faire découvrir des oeuvres encore jamais vues à ce jour.
                  Le musée est découpé en salle et chacune des salles correspondent à une période de l'histoire.</p>
                  <p>Pas assez de temps ? Consultez la rubrique <cite>Itinéraire</cite> pour organiser au mieux
                  votre visite dans notre musée.</p>
                  <p>Le plan du musée est disponible dans la rubrique <cite>Plan</cite>.</p>

                  <h4>Toute l'équipe du musée vous souhaite une bonne visite.</h4>

				      </section>
			     </section>
		    </main>
     </body>
</html>
