<!doctype html>
<html lang="fr">
    <head>
		    <meta charset="utf-8">
        <link rel="stylesheet" href="static/style.css" media="all" type="text/css"/>
		    <title>My little museum</title>
	  </head>
    <body id="body">

		    <header id="header">
		        <h1>Mon petit musée</h1>
        </header>

		    <main id="main">

			    <nav id="menu">
			        <ul id="list_menu">
                <li><a href="/">Accueil</a></li>
                <li><a href="itineraire">Itinéraire</a></li>
                <li><a href="plan">Plan</a></li>
				      </ul>
			    </nav>

          <section id="flex-container-border">
            <section id="content-picture">
              <img class="picture" src="{{url_for('static', filename='etage0.png')}}"/>
            </section>
            <section id="content-picture">
              <img class="picture" src="{{url_for('static', filename='etage1.png')}}"/>
				     </section>
          </section>

		    </main>
     </body>
</html>
